<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Page</title>
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body class="grey-bg">
    <%- include('nav.ejs') %>

        <div class="white-bg">
            <% songs.forEach(function(song) { %>
                <div class="list-box">
                    <a href="/detail/<%= song._id %>">
                        <img src="https://picsum.photos/seed/picsum/200/300" alt="Random Image" class="list-img">
                    </a>
                    <h4>
                        <%= song.name %>
                    </h4>
                    <p>
                        <%= song.artist %>
                    </p>

                </div>
                <% }); %>

        </div>
        <div class="page-button-container">
            <a href="/list/prev/<%= songs[0]._id %>" class="<%= isFirstPage ? 'disabled' : '' %>">
                <button class="page-button<%= isFirstPage ? ' block' : '' %>">
                    &lt;
                </button>
            </a>
            <a href="/list/next/<%= songs[songs.length - 1]._id %>" class="<%= songs.length < 5 ? 'disabled' : '' %>">
                <button class="page-button<%= songs.length < 5 ? ' block' : '' %>">
                    &gt;
                </button>
            </a>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            //リロードなしで削除、実装はしない
            // function deleteHandler(e) {
            //     if (!confirm('本当に削除しますか？')) {
            //         return;
            //     }
            //     const id = $(this).data('id');
            //     fetch('/delete', {
            //         method: 'DELETE',
            //         headers: { 'Content-Type': 'application/json' },
            //         body: JSON.stringify({ id })
            //     }).then(res => {
            //         if (res.ok) {
            //             return res.json().then(data => {
            //                 alert('削除しました');
            //                 e.target.parentElement.parentElement.parentElement.style.display = 'none';
            //             });
            //         } else {
            //             alert('削除に失敗しました');
            //         }
            //     });
            // };

            // $('.delete').on('click', deleteHandler);
        </script>
</body>



</html>